<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="create-container flex justify-between items-center">
    <%= link_to 'Creat a new set of data', new_frequency_distribution_path, class: "px-5 fs-5" %>
  </div>

  <%= form_tag import_items_path, multipart: true do %>
    <div class="upload-container input-group mb-3">
      <div class="mb-3">
        <%= file_field_tag :file, class: "form-control", id: "formFile" %>
      </div>
      <div class="input-group-append">
        <%= submit_tag "Upload", class: "btn btn-secondary" %>
      </div>
    </div>
  <% end %>

  <%= @random_seed %>

</div>
