<div id="<%= dom_id item %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= item.name %>
  </p>

  <% item.frequency_distributions.each do |frequency_distribution| %>
    <%= frequency_distribution.year %>
    <%= frequency_distribution.month %>
    <%= frequency_distribution.demand %>
    <%= frequency_distribution.frequency %>
    <%= frequency_distribution.probability %>
    <%= frequency_distribution.acumulative_probability %>
    <br><br> 
  <% end %>
    

  <% if action_name != "show" %>
    <%= link_to "Show this item", item, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this item', edit_item_path(item), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>

